#gamemap {
    -fx-background-image: url("../images/7682.jpg");
}

.buildingWrapper {
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-color: transparent;
}

.selectable:hover {
    -fx-cursor: hand;
    -fx-border-color: red;
    -fx-border-style: solid;
}

.active {
    -fx-border-color: red;
    -fx-border-style: solid;
}


.building {
    -fx-opacity: 1;
}

.not-enough-money.building {
    -fx-opacity: .2;
}

.blue {
    -fx-background-color: rgba(0, 0, 255, .4);
}

.red {
    -fx-background-color: rgba(255, 0, 0, .4);
}